PORT=3000
DATABASE_URL=mongodb://localhost:27017/
DATABASE_NAME=thinkify
BCRYPT_GEN_SALT_NUMBER=10
JWT_SECRET_KEY=abcdefghijklmnopqrstuvwxyz
COOKIE_EXPIRES=5d
COOKIE_KEY=thinkify
UPLOAD_DIRECTORY=uploads
CORS_ORIGIN=http://localhost:5173
